<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  </head>

  <body>
    <nav>
      <div id="logo">LOGO</div>
      <button type="button" id="loginButton">LOGIN</button>
      <button type="button" id="register">REGISTER</button>
    </nav>
    <header>
      <button type="button" class="scrollButton" id="leftScrollButton"></button>
      <section class="smallMapSection">
      <div class="smallMap" id="smallMap1"></div>
      </section>
      <button type="button" class="scrollButton" id="rightScrollButton"></button>
    </header>
    <main class="searchArea">
      <h3 id="searchInstruction">Search for maps:</h3>
      <form class="mapSearchInput">
        <textarea name="searchText" class="formTextArea" placeholder="Search By Key Word"></textarea>
        <button type="submit" id="searchSubmitButton" type="submit">SEARCH</button>
      </form>
      <section class="searchResults">
        <!-- where our results will be displayed -->
        <div class="bigMap" id="bigMap1"></div>
      </section>
    </main>
  </body>

</html>


