<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Maps</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/mapViewer.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script type="text/javascript" src="/scripts/mapViewer.js"></script>
    <script type="text/javascript" src="/scripts/helpers.js"></script>
  </head>
  <header><%- include('partials/_header') %></header>
  <body>

    <main>
      <section class="smallMapSection">
      </section>
      <div id="mapEditButtons">
        <% if(name) {%>
            <form method="POST" action="/users/maps/1/edit"></form>
              <button type="submit">Delete</button>
          </form>
        <%} else {%>
          <form method="GET" action="/users/login">
            <button type="submit" id="favouriteButton">Favourite</button>
          </form>
        <%}%>
      </div>
    </main>
  </body>

</html>

<!--// attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
//   '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
//   'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',-->


