@import 'ressources';

body {
  display: flex;
  flex-direction: column;
  background-color: $erieBlack;
  background-image: url($bgImage);
  color: $textLight ;
  margin: 0;
  height: 100vh;
  font-family: Helvetica neue;

  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

}
