@import 'ressources';

.inputArea {
  display: flex;
  height: 100%;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #title {
      display: flex;
      padding: 2.5em;
    }

    #coordinates {
      display: flex;
      padding: 2.5em;
      justify-content: center;
    }

    #submit-button {
      padding: 5em;

      #newMapButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9em;
        height:4em;
      }

    }

    input{
      width: 12em;
      height: 3.5em;
    }

    .latLong {
      width: 9em;
      height: 3em;
    }
  }
}
