@import 'ressources';


.smallMapSection {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  .smallMapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;

    .smallMap {
      height: 30em;
      width: 40em;
      border: solid $blackOlive 0.5em;
    }

    .editFavoriteUnfavoriteButton {
      padding-top: 1.5em;
    }
  }
}
.leaflet-popup-content {
  display : flex;
  align-items: center;
  justify-content: column;

  width: 20em;
  // background-color: red;
  // height : ;
  overflow-y: scroll;
}
// .leaflet-popup-tip {
//   background-color: aqua;
// }
.leaflet-popup-content-wrapper {
  background-color: blue;
}
// .popupForm {
//   display : flex;
//   align-items: center;
//   background-color: red;
// }



@media only screen and (min-width: 1000px) {

  .smallMapSection {

    .smallMapContainer {

      .smallMap {
        height: 40em;
        width: 50em;
      }
    }
  }
}

@media only screen and (min-width: 1500px) {

  .smallMapSection {

    .smallMapContainer {

      .smallMap {
        height: 70em;
        width: 100em;
      }
    }
  }
}

@media only screen and (max-width: 500px) {

  .smallMapSection {

    .smallMapContainer {

      .smallMap {
        height: 20em;
        width: 25em;
      }
    }
  }
}
