@import 'ressources';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

body {
  background-color: $erieBlack;
  background-image: url($bgImage);
  color: #fffcf2;
  margin: 0;
  height: 100vh;
  font-family: Helvetica neue, roboto;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.smallMapSection {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  .smallMap {
    height: 30em;
    width: 40em;
  }

}

